<div class="home">
	<header>
		Make a memorable experience.<br />Let your brand act in a way that well exceeds users' expectations. 
	</header>
	<ul class="row">
		<li class="col-md-6 project-thumb">
			<a href="" class="project-link">
				<div class="thumb-caption">
					<span class="case-name">힌국전력</span>
					<h2>초전도 한류기<br />모니터링 시스템</h2>
					<div class="skills">
<!--						<span>UX</span> <span>UI</span>-->
					</div>
				</div>
			</a>
		</li>
		<li class="col-md-6 project-thumb">
			<a href="" class="project-link">
				<div class="thumb-caption">
					<span class="case-name">Samsung</span>
					<h2>Imagine a natural and immersive TV experience</h2>
					<!-- div class="skills">
						<span>UX</span><span>UI</span>
					</div -->
				</div>
			</a>
		</li>
		<li class="col-md-6 project-thumb">
			<a href="" class="project-link">
				<div class="thumb-caption">
					<span class="case-name">힌국전력</span>
					<h2>초전도 한류기<br />모니터링 시스템</h2>
					<div class="skills">
						<!--						<span>UX</span> <span>UI</span>-->
					</div>
				</div>
			</a>
		</li>
		<li class="col-md-6 project-thumb">
			<a href="" class="project-link">
				<div class="thumb-caption">
					<span class="case-name">Samsung</span>
					<h2>Imagine a natural and immersive TV experience</h2>
					<!-- div class="skills">
<span>UX</span><span>UI</span>
</div -->
				</div>
			</a>
		</li>
	</ul>
</div>